PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://kalakart_admin:kalakartsecure1201@cluster0.caoo29v.mongodb.net/?appName=Cluster0
JWT_SECRET=Shivani_Kalakart_2026
#Secure@key_9xP7mQ2
ADMIN_EMAIL=shivanirakhunde5151@gmail.com
ADMIN_PASSWORD=Kalakart@admin#2026X9
